*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Barlow Condensed', sans-serif; */
/* font-family: 'Bellefair', serif; */
/* font-family: 'Barlow', sans-serif; */

:root{
    --primary-color: #0b0d17;
    --secondary-color: #d0d6f9;
    --white-color: #ffffff;

}

html, body {
    height: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);

}


.hero {
    background-image: url('./assets/home/background-home-tablet.jpg');
    background-position-y: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    gap:2rem
}

.navbar{
    width: 100%;
    padding: 0rem 1.5rem;
}

.nav-center{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-toggle{
    background: transparent;
    border: none;
    cursor: pointer;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 0rem 2rem
}

.heading-5{
    font-size: 1rem;
    color: var(--secondary-color);
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 19px;
    letter-spacing: 2.7px;
    font-weight: 400;
}

.heading-1{
    font-family: 'Bellefair', serif;
    font-size: 5rem;
    color: var(--white-color);
    line-height: 100px;
    font-weight: 400;
    margin-top: 16px;
}

.body-text{
    font-family: 'Barlow', sans-serif;
    color: var(--secondary-color);
    font-size: 1rem;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
}

.btn-explore{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-family: 'Bellefair', serif;
    font-size: 1.5rem;
    background-color: var(--white-color);
}

.btn-explore:hover{
    animation: animate 1.5s linear infinite;
    cursor: pointer;
}
@keyframes animate {
    0%{
        box-shadow: 0 0 0 0 rgba(164,164,164,9);
    } 
    40%{
        box-shadow: 0 0 0 75px rgba(0,206,209,0);
    } 
    80%{
        box-shadow: 0 0 0 75 rgba(0,206,209,0);
    } 
    100%{
        box-shadow: 0 0 0  rgba(0,206,209,0);
    } 
}

.aside-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background:transparent;
    backdrop-filter: blur(40px);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 2rem;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
}

.show-aside{
    transform: translateX(0);
}

.aside-header{
    display: flex;
    justify-content: end;
    padding: 1rem 1.5rem;
}

.aside-header button{
    padding: .5rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.aside-links a{
    display: block;
    font-size: 1.2rem;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--white-color);
    font-weight: 100;
    padding: 1.5rem;
}

.aside-links a:hover{
    border-right: 4px solid white; 
}

.aside-links a span{
    font-weight: bold;
    padding-right: 1rem;
}


/* ================= DESTINATION  SECTION ========================== */
.main-destination{
    background-image: url('./assets/destination/background-destination-tablet.jpg');
    background-position-y: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    padding-top: 1.5rem;
}

.meet-crew {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1.5rem;
    padding: 2rem 1rem;

}

.pick-destination,.meet-crew-title{
    display: flex;
}



.pick-destination span, .meet-crew span {
    font-size: 1.2rem;
    line-height: 19px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
    color: #fff;
    opacity: 0.25;
    padding-right: 12px;
}

.planet-info, .crew-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pick-destination p, .meet-crew p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2rem;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #fff;
    font-weight: 400;
}



.planet-img{
    width: 200px;
    height: 200px;
}




.planets-btns{
    display: flex;
    justify-content: space-evenly;
}




.planets-btns .btn-planet{
    border: none;
    background: none;
    color: var(--secondary-color);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 2.36px;
    cursor: pointer;
    padding: 1rem;
}


.planet-info .planet-name{
    font-size: 3.5rem;
    font-family: 'Bellefair', serif;
    line-height: 64px;
    font-weight: 400x;
    text-align: center;
    color: var(--white-color);
    font-style: normal;
    text-transform: uppercase;
}

.planet-desc {
    width: 320px;
    min-height: 125px;

}

.planet-info .planet-desc{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Barlow', sans-serif;
    color: var(--secondary-color);
    text-align: center;
    padding: 0rem 1rem;
}



.planets-btns .btn-planet:hover{
    box-shadow: -3px -45px 0px -42px rgba(255,255,255,1) inset;
    font-size: 1rem;
    color: var(--white-color);
}

.active{
    box-shadow: -3px -45px 0px -42px rgba(255,255,255,1) inset;
     transform: scale(1.1);
}


.line-divide{
    width: 80%;
    margin: 0 auto;
}

.line-divide hr{
    border-bottom: .5px solid #383B4B;
}
.distance-travel-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}


.info{
    margin-top: 5px;
}

.info span {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 17px;
    letter-spacing: 2.3px;
    color: var(--secondary-color);
    
}

.info p{
    font-size: 1.75rem;
    font-family: 'Bellefair', serif;
    font-style: normal;
    line-height: 32px;
    font-weight: 400x;
    color: var(--white-color);
    padding-top: 5px;
}


/* ================= CREW SECTION ========================== */


.main-crew{
    background-image: url('./assets/crew/background-crew-tablet.jpg');
    background-position-y: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    gap: 1.2rem;
    padding: 1.5rem 0rem;
}


.crew-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 320px;
    max-width: 400px;
    min-height: 320px;
    max-height: 400px;
    padding: 0rem 1.5rem;
}

.crew-btns{
    display: flex;
    justify-content: space-evenly;
}

.btn-crew{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: #979797;
    cursor: pointer;
    padding: .2rem;
}

.btn-active {
    background-color: #fff;
}

#image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.crew{
    border-bottom: 1px solid #979797;
}

.crew-img {
    width: 320px;
    height: 320px;
}

.crew-job p{
    font-size: 1rem ;
    font-family: 'Bellefair', serif; 
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #fff;
    opacity: 0.25;
    text-transform: uppercase;
}

.crew-name p{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    font-family: 'Bellefair', serif; 
    text-transform: uppercase;
    color: var(--white-color)
}

.crew-description p{
    font-family: 'Barlow';
    font-size: .875rem;
    color:var(--secondary-color);
    line-height: 25px;
    font-weight: 400;
    text-align: center;
}

/* ================= TECHNOLOGY  SECTION ========================== */
.main-technology{
    background-image: url('./assets/technology/background-technology-tablet.jpg');
    background-position-y: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    gap: 1.2rem;
    padding: 1.5rem 0rem;
}

@media (min-width: 768px) {
    .hero {
        background-image: url('./assets/home/background-home-desktop.jpg');
    }
}