*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Barlow Condensed', sans-serif; */
/* font-family: 'Bellefair', serif; */
/* font-family: 'Barlow', sans-serif; */

:root{
    --primary-color: #0b0d17;
    --secondary-color: #d0d6f9;
    --white-color: #ffffff;

}

html, body {
    height: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;

}


.hero {
    background-image: url('./assets/home/background-home-tablet.jpg');
    background-position-y: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.navbar{
    display: flex;
    height: 6rem;
    background: transparent;
    align-items: center;
    justify-content: center;
}

.nav-center{
    width: 85vw;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle{
    background: transparent;
    border: none;
    cursor: pointer;
}

.hero-container {
    text-align: center;
    padding: 0 2rem 1rem 2rem;
}

.heading-5{
    font-size: 1rem;
    color: var(--secondary-color);
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 19px;
    letter-spacing: 2.7px;
    font-weight: 400;
}

.heading-1{
    font-family: 'Bellefair', serif;
    font-size: 5rem;
    color: var(--white-color);
    line-height: 100px;
    font-weight: 400;
    margin-top: 16px;
}

.body-text{
    font-family: 'Barlow', sans-serif;
    color: var(--secondary-color);
    font-size: 1rem;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
}

.btn-explore{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-family: 'Bellefair', serif;
    font-size: 1.5rem;
    background-color: var(--white-color);
}

.btn-explore:hover{
    animation: animate 1.5s linear infinite;
    cursor: pointer;
}
@keyframes animate {
    0%{
        box-shadow: 0 0 0 0 rgba(164,164,164,9);
    } 
    40%{
        box-shadow: 0 0 0 75px rgba(0,206,209,0);
    } 
    80%{
        box-shadow: 0 0 0 75 rgba(0,206,209,0);
    } 
    100%{
        box-shadow: 0 0 0  rgba(0,206,209,0);
    } 
}

.aside-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background:transparent;
    backdrop-filter: blur(40px);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
}

.aside-header{
    display: flex;
    justify-content: end;
    padding: 1rem 1.5rem;
}

.aside-header button{
    height: 40px;
    background: transparent;
    border: none;

}

.aside-links a{
    display: block;
    font-size: 1.2rem;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--white-color);
    font-weight: 100;
    padding: 1.5rem 2.5rem;

}

.aside-links a:hover{
    border-right: 4px solid white; 
}

.aside-links a span{
    font-weight: bold;
    padding-right: 1rem;
}



@media (min-width: 768px) {
    .hero {
        background-image: url('./assets/home/background-home-desktop.jpg');
    }
}